lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results
temp

node_modules
npm-debug.log

coverage
reports
.nyc_output

.DS_Store

screenshots/diff/*
screenshots/taken/*

screenshots_copy/*

errorShots/

dist
